.block{
    // min-height: 500px;
    text-align: center;
}
.button {
    // top: 200px;
    margin: 0 auto;
}

agm-map {
      height: 300px;
    }

.sebm-google-map-container {
       height: 300px;
}
.locate{
    width: 300px;
}
