<md-toolbar color="primary">
 
  <span><a href="/"><app-titlecase-pipe></app-titlecase-pipe></a></span>
  <div class="menu-link">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/misc">Misc</a>
  </div>

  <span class="spacer"></span>


    <div *ngIf="!authService.isAuthenticated(); else loggedin">
      <a routerLink="/signup" md-raised-button color="accent"><md-icon class="icon">person_add</md-icon> Sign Up</a>
          <span class="spacer-light"></span>
      <a routerLink="/login" md-raised-button color="warn"><md-icon class="icon">lock_open</md-icon>Login</a>
    </div>
