<md-toolbar color="primary">
  <span>Currently created events</span>
</md-toolbar>

<md-card>
  <!--<md-card-header>
    <md-card-title><h1>Currently created events</h1></md-card-title>
  </md-card-header>-->
  <md-card-content>
    <div id="contentThree">
      <md-card>
        <img md-card-image src="https://placehold.it/220x120">
        <md-card-title><h4>Angular 4</h4></md-card-title>
        <md-card-content>
          <p>Angular is a framework for building client applications in HTML and TypeScript that compiles to JavaScript.</p>
        </md-card-content>
        <md-card-actions>
          <button md-button>Interested</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
      <md-card>
        <img md-card-image src="https://placehold.it/220x120">
        <md-card-title><h4>Material 2</h4></md-card-title>
        <md-card-content>
        <p>Material Design is a unified system that combines theory, resources, and tools for crafting digital experiences.</p>
        </md-card-content>
        <md-card-actions>
          <button md-button>Interested</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
      <md-card>
        <img md-card-image src="https://placehold.it/220x120">
        <md-card-title><h4>Firebase</h4></md-card-title>
        <md-card-content>
          <p>Firebase is built on Google infrastructure and scales automatically, for even the largest apps.</p>
        </md-card-content>
        <md-card-actions>
          <button md-button>Interested</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
      <md-card>
        <img md-card-image src="https://placehold.it/220x120">
        <md-card-title><h4>Firebase</h4></md-card-title>
        <md-card-content>
          <p>Firebase is built on Google infrastructure and scales automatically, for even the largest apps.</p>
        </md-card-content>
        <md-card-actions>
          <button md-button>Interested</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
      <md-card>
        <img md-card-image src="https://placehold.it/220x120">
        <md-card-title><h4>Angular 4</h4></md-card-title>
        <md-card-content>
          <p>Angular is a framework for building client applications in HTML and TypeScript that compiles to JavaScript.</p>
        </md-card-content>
        <md-card-actions>
          <button md-button>Interested</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
      <md-card>
        <img md-card-image src="https://placehold.it/220x120">
        <md-card-title><h4>Material 2</h4></md-card-title>
        <md-card-content>
        <p>Material Design is a unified system that combines theory, resources, and tools for crafting digital experiences.</p>
        </md-card-content>
        <md-card-actions>
          <button md-button>Interested</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
  </md-card-content>
</md-card>



<md-toolbar color="primary">
  <span>Choose interested topic</span>
</md-toolbar>

<md-card>
    <md-chip-list>
        <md-chip>One fish</md-chip>
        <md-chip color="primary" selected="true">Primary fish</md-chip>
        <md-chip color="accent" selected="true">Accent fish</md-chip>
        <md-chip color="warn" selected="true">Warn fish</md-chip>
        <md-chip>One fish</md-chip>
        <md-chip color="primary" selected="true">Primary fish</md-chip>
        <md-chip color="accent" selected="true">Accent fish</md-chip>
        <md-chip color="warn" selected="true">Warn fish</md-chip>
        <md-chip>One fish</md-chip>
        <md-chip color="primary" selected="true">Primary fish</md-chip>
        <md-chip color="accent" selected="true">Accent fish</md-chip>
        <md-chip color="warn" selected="true">Warn fish</md-chip>
        <md-chip>One fish</md-chip>
        <md-chip color="primary" selected="true">Primary fish</md-chip>
        <md-chip color="accent" selected="true">Accent fish</md-chip>
        <md-chip color="warn" selected="true">Warn fish</md-chip>
        <md-chip>One fish</md-chip>
        <md-chip color="primary" selected="true">Primary fish</md-chip>
        <md-chip color="accent" selected="true">Accent fish</md-chip>
        <md-chip color="warn" selected="true">Warn fish</md-chip>        
    </md-chip-list>

    <div class="actions">
    <button md-mini-fab><md-icon>add</md-icon></button>
   </div>
</md-card>