.app-content {
  max-width: 900px;
  position: relative;
  padding: 24px;
  margin: 40px auto 0;
  left: 0;
  right: 0;
  @media only screen and (max-width: 500px) {
    padding: 0px;
    margin: 13px 8px;
  }
}